#login{
    background: url(img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#login .form-group{
    text-align: left;
}

#login input{
    border:none;
    /* border-bottom:1px solid lightblue; */
}

.social-login{
    color:white;
}

#btn-gradient{
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff) !important;
    background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff) !important;
    background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff) !important;
    background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff) !important;
}

#login a {
    color:white;
}